body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: grey;
  }
  
  header {
    margin-top: 3em;
    text-align: center;
    color: black;
  }
  
  header h1 {
    font-size: 2em;
    font-weight: 900;
  }
  
  #container3D canvas {
    width: 100vw !important;
    height: 100vh !important;
    position: absolute;
    top: 0;
    left: 0;
  }

  .search-container {
    display: flex;
    align-items: center;
  }
  
  /* Style the input field */
  #questionInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
  